extends layout

block content
  table.list
    thead
      tr
        th.list 고객ID
        th.list 이름
        th.list 전화번호
        th.list 담당자명
        th.list 담당자연락처
        th.list 매출액합계
    tbody
      each buyer in buyers
        tr(data-id= `${buyer.b_id}`)
          td.list= buyer.b_id
          td.list= buyer.b_comname
          td.list= buyer.b_comtel
          td.list= buyer.b_name
          td.list= buyer.b_tel
          td.list
  button.insert 거래처추가
